*{margin:0; padding:0;} 

/*-----------------Color de todo el fondo-----------*/
.body{ 
    background-image:#FFF9C4;
}

/*----------------Estilos del header-----------------------------*/
.contenedor{
    background-color:#F44336;
    width: 100%;
    height: 195px;
}
.header{
    margin-top: 50px;
    position: relative;  
}
.header .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%)      
}
.cabecera{ 
  margin-bottom: 20px;  
}
.logotipo{ 
    width: 180px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}
.logotipo:hover{
    background: rgba(51,51,51,0.5);
}
.button{
    background: #CDDC39;	
    color:black;
    display:inline-block;
    font-size: 1.25em;
    margin: 10px;
    padding: 10px 0px;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    text-decoration: none;
    position: relative; 
}
.button:hover{
    background: rgba(51,51,51,0.5);
}

/*-------------------Estilos para los platillos destacados del día----------------*/
.group--color .contra{ /*contenedor del titulo platillos destacados del día*/
    background: #0e0e10;
    color: aliceblue;
    padding: 1px;
    text-align: center;
    
}

.main__title{ /*Estilos del titulo "Destacados del día"*/
    margin: 15px 0;
    font-size: 1.8em;
    font-family: cursive;
    font-weight: 100;
}

.contra{ /*contenedor de imagenes de los platillos destacados*/
    background-color: #FFF9C4;
    padding: 1.2em;
    overflow: hidden;
}
.contra .destacados__img{ /*medidas de las imagenes de platillos destacados*/
    width: 620px;
    height: 350px;
    
}
.item{ /*espacio que sostiene a las imagenes una al lado de otra de platillos destacados */
    margin: 0.8em;
    padding: 0.2em;
    color:#0e0e10;
    float: left;
}

.linea{
   background: #0e0e10;
   height: 5px;
   width: 100%;
   display: block;
 
}
.group__title{ /*estilos para el titulo "platillos de hoy"*/
    font-family: cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin: 30px;
}


/*-------------------------Estilos de platillos de hoy-------------*/
.today-special__title{ /*Estilos del nombre del platillo*/
    
    font-size: 1.3em;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}
.today-special__price{ /*Estilos del precio del platillo*/
    font-size: 1.3em;
    color: #DE423A;
    font-weight: bold;
    text-align: center;
}

.galeria{ /*columnas de las img de platillos*/
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.today-special__img{ /*tamaño de img platillos*/
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

/*------------------------ANIMACIONES DE LAS IMG DE PLATILLOS DE HOY---------*/

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.today-special__img:hover{
    filter: blur(1px);
    transform: rotate(10deg) scale(0.8);
}

.content{
    width: 98%;
    max-width:500px;
    margin: auto;
}

.content >a{
    background: #CDDC39;	
    color:black;
    display:inline-block;
    font-size: 1.25em;
    margin: 10px;
    padding: 10px 0px;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    text-decoration: none;
    position: relative;  
}
.content >a:hover{
    background: rgba(51,51,51,0.5);
}
.content >input{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    

}
.content .input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #DE423A;
}









